:root {
  --main-color: #212121;
  --web-hover-color: #2196f3;
  --text-nav-color: #757575;
  --white: #ffffff;
  --black: #000000;
  --footer-bg: #2f303a;
  --descr-text: #757575;
  --team-bc: #f5f4fa;
  --fotter-cont: rgba(255, 255, 255, 0.6);
  --nav-border: #ececec;
  --bg-button: #188ce8;
}

body {
  font-family: 'roboto', 'sans-serif';
  color: var(--main-color);
  background-color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}
/* logo */
.header-logo,
.footer-logo {
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  width: 145px;
  height: 31px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.nav-1-item,
.nav-2-item {
  margin-right: 50px;
}

.nav-1-item:last-child,
.nav-2-item:last-child {
  margin-right: 0;
}
.header-logo {
  color: var(--black);
  margin-right: 93px;
}

.footer-logo {
  color: var(--white);
}

.web {
  color: var(--web-hover-color);
}

/* header and footer link + button */
.head,
.nav-1,
.nav-2,
.list {
  display: flex;
  padding: 0;
}

.head {
  border-bottom: 1px solid var(--nav-border);
  align-items: center;
}

.nav-1 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.nav-2 {
  margin-left: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.nav-contact,
.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link {
  color: var(--main-color);
}

.current {
  color: var(--web-hover-color);
}

header .nav-contact {
  color: var(--text-nav-color);
}

.nav-link:hover,
.nav-contact:hover,
.nav-link:focus,
.nav-contact:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--web-hover-color);
}

.filter-button {
  font-family: roboto;
  background-color: var(--team-bc);
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--web-hover-color);
  color: var(--white);
}

.section-title,
.footer {
  background-color: var(--footer-bg);
}

/* section title */
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  margin: 0 auto 30px auto;
  width: 696px;
}

.main-button {
  background-color: var(--web-hover-color);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: roboto;
  cursor: pointer;
  background: var(--bg-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  min-width: 216px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.section-title {
  padding-bottom: 200px;
  padding-top: 200px;
}

/* section-advantage */
.advantage-title,
.advantage {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-descr {
  line-height: 1.71;
  color: var(--descr-text);
}

.section-advantage {
  padding-top: 109px;
  padding-bottom: 94px;
}

.list-item {
  width: 270px;

  margin-right: 30px;
}
.list-item:last-child {
  margin-right: 0;
}
/* section work + team + portfolio*/

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  margin: 0 auto 50px auto;
  width: 366px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  margin: 0 auto 50px auto;
  width: 264px;
}
.section-team {
  background-color: var(--team-bc);

  padding-top: 94px;
  padding-bottom: 94px;
}

.third-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.text {
  font-size: 16px;
  line-height: 19px;
  color: var(--descr-text);
}

.section-work {
  padding-bottom: 94px;
}
img {
  display: block;
}

.img-work:not(:last-child),
.img-team:not(:last-child) {
  margin-right: 30px;
}

.portfolio {
  flex-wrap: wrap;
}

/* footer */
.address,
.footer-contact {
  font-style: normal;
  line-height: 1.71;
}

.nav-contact {
  color: var(--white);
}

.footer-contact {
  color: var(--fotter-cont);
}
