:root {
  --main-color: #212121;
  --web-hover-color: #2196f3;
  --text-nav-color: #757575;
  --white: #ffffff;
  --black: #000000;
  --footer-bg: #2f303a;
  --descr-text: #757575;
  --team-bc: #f5f4fa;
  --fotter-cont: rgba(255, 255, 255, 0.6);
  --nav-border: rgb(236, 236, 236);
  --bg-button: #188ce8;
  --icon-color: #afb1b8;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);

  --anime: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'roboto', 'sans-serif';
  color: var(--main-color);
  background-color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

input {
  padding: 0;
}
/* logo */
.header-logo,
.footer-logo {
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.head-container {
  display: flex;
  align-items: center;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.head-list-item,
.head-list-cont-item {
  margin-right: 50px;
}

.head-list-cont-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-list-item:last-child,
.head-list-cont-item:last-child {
  margin-right: 0;
}
.header-logo {
  color: var(--black);

  margin-right: 93px;
}

.footer-logo {
  color: var(--white);
}

.web {
  color: var(--web-hover-color);
}

/* header and footer link + button */
/* .head, */
.head-list,
.head-list-cont,
.list {
  display: flex;
  padding: 0;
}

.head {
  border-bottom: 1px solid var(--nav-border);
  align-items: center;
}

.head-list-cont {
  margin-left: auto;
}

.list-filter {
  justify-content: center;
  margin-bottom: 34px;
}

.list-button {
  margin-right: 8px;
}

.list-button:last-child {
  margin-right: 0;
}

.link {
  text-decoration: none;
}

.nav-contact,
.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
}

/* .head-container .header-logo, */
.head-list-item .nav-link,
.head-list-cont .nav-contact {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link {
  color: var(--main-color);

  position: relative;

  transition: color 250ms var(--anime);
}

.nav-link:hover,
.nav-contact:hover,
.nav-link:focus,
.nav-contact:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--web-hover-color);

  transition: color 250ms var(--anime);
}

.nav-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--web-hover-color);
  border-radius: 2px;

  position: absolute;
  bottom: 0;

  opacity: 0;

  transition: opacity 250ms var(--anime);
}

.nav-link.current::after,
.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;

  transition: opacity 250ms var(--anime);
}

.current {
  color: var(--web-hover-color);
}

header .nav-contact {
  color: var(--text-nav-color);
}

.filter-button {
  font-family: roboto;
  background-color: var(--team-bc);
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;

  transition: color 250ms var(--anime), background-color 250ms var(--anime),
    box-shadow 250ms var(--anime);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--web-hover-color);
  color: var(--white);

  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

  transition: color 250ms var(--anime), background-color 250ms var(--anime),
    box-shadow 250ms var(--anime);
}

.section-title {
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/team-bg.jpg);
  background-color: var(--footer-bg);
  max-width: 1600px;
  height: 600px;

  margin: 0 auto;

  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: var(--footer-bg);
}

.head-envelope-icon,
.head-smartphone-icon {
  fill: currentColor;
  margin-right: 10px;

  transition: color 250ms var(--anime);
}
.head-envelope-icon {
  width: 16px;
  height: 12px;
}
.head-smartphone-icon {
  width: 10px;
  height: 16px;
}

.head-list-cont-item:hover .head-smartphone-icon,
.head-list-cont-item:focus .head-smartphone-icon,
.head-list-cont-item:hover .head-envelope-icon,
.head-list-cont-item:focus .head-envelope-icon {
  color: var(--web-hover-color);

  transition: color 250ms var(--anime);
}

/* section title */
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  margin: 0 auto 30px auto;
  width: 696px;
}

.main-button {
  background-color: var(--web-hover-color);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: roboto;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  min-width: 216px;
  border: none;
  margin: 0 auto;
}

.section-title {
  padding-bottom: 200px;
  padding-top: 200px;
}

/* section-advantage */
.advantage-title,
.advantage {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-logo {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantage-icon {
  width: 70px;
  height: 70px;
}

.advantage-descr {
  line-height: 1.71;
  color: var(--descr-text);
}

.list-item {
  width: 270px;

  margin-right: 30px;
}
.list-item:last-child {
  margin-right: 0;
}

/* section work + team + portfolio*/

.second-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.section-team {
  background-color: var(--team-bc);

  padding-top: 94px;
  padding-bottom: 94px;
}

.third-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 4px;
}

.img-work-box {
  position: relative;

  /* display: flex; */
}

/* .img-work-text {
  background-color: #2f303acc;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
} */

.img-work-name {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;

  background-color: #2f303acc;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  /* right: 0; */

  display: flex;
  align-items: center;
  justify-content: center;

  /* letter-spacing: 0.03em; */
  color: var(--white);
}

.third-title-portfolio {
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;

  margin-bottom: 4px;
}

.third-title {
  text-align: center;

  margin-bottom: 10px;
}
.text,
.text-portfolio {
  font-size: 16px;
  line-height: 1.19;
  color: var(--descr-text);
}

.text-portfolio {
  line-height: 1.88;
}
.text {
  text-align: center;

  margin-bottom: 16px;
}
.section-work {
  padding-top: 0;
}

.img-work:not(:last-child),
.img-team:not(:last-child) {
  margin-right: 30px;
}

.img-team {
  background-color: var(--white);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.img-team-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ul */
.team-list-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* a */
.team-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);

  transition: color 250ms var(--anime), background-color 250ms var(--anime);
}
/* svg */
.team-socials-icon {
  fill: currentColor;

  width: 20px;
  height: 20px;
}

.team-socials-link:hover,
.team-socials-link:focus {
  color: var(--white);
  background-color: var(--web-hover-color);

  transition: color 250ms var(--anime), background-color 250ms var(--anime);
}

.img-title {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
}

/* PORTFOLIO*/

.portfolio {
  flex-wrap: wrap;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;

  border-radius: 4px;
}

.portfolio-item-link {
  display: block;

  transition: box-shadow 250ms var(--anime);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  transition: box-shadow 250ms var(--anime);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-img-block {
  position: relative;

  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(200%);
  transition: transform 250ms var(--anime);
}

.portfolio-img-text p {
  color: var(--white);
  font-size: 18px;
  line-height: 1.56;

  padding: 63px 24px;
}

.portfolio-item-link:hover .portfolio-img-text,
.portfolio-item-link:focus .portfolio-img-text {
  transform: translatey(0);
}

.main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.clients-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);

  border: 1px solid currentColor;
  border-radius: 4px;

  width: 170px;
  height: 92px;

  transition: color 250ms var(--anime), border-color 250ms var(--anime);
}

.clients-item-link:hover,
.clients-item-link:focus {
  color: var(--web-hover-color);
  border: 1px solid var(--web-hover-color);

  transition: color 250ms var(--anime), border-color 250ms var(--anime);
}

/* footer */
/* .address, */

.footer-list {
  list-style: none;
  padding-left: 0;
  padding-right: 25px;
  margin: 0;
  line-height: 1.71;
}

.address-footer:not(:last-child) {
  margin-bottom: 9px;
}
.nav-contact {
  color: var(--white);

  display: flex;

  transition: color 250ms var(--anime);
}

.address-footer > .nav-contact {
  line-height: 1.71;
}
.footer-contact {
  color: var(--fotter-cont);

  transition: color 250ms var(--anime);
}

.footer-list {
  flex-direction: column;
  margin-bottom: 0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.container-address {
  margin-right: 70px;
}
.join-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  color: var(--white);
  letter-spacing: 0.03em;
  font-weight: 700;

  margin-bottom: 20px;
}

.join-item-link {
  background-color: var(--footer-icon-bg);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  transition: background-color 250ms var(--anime);
}

.join-item-link:hover,
.join-item-link:focus {
  background-color: var(--web-hover-color);
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-item-icon {
  width: 20px;
  height: 20px;
}

.container-socials {
  margin-right: 93px;
}

.footer-e-mail-join {
  position: relative;

  width: 570px;
  height: 87px;
}
.signup_form {
  display: flex;
  flex-direction: column;
}
.user-mail {
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
  line-height: 1.14;

  padding-bottom: 20px;
}

.input-user-mail {
  width: 360px;
  height: 50px;
  background-color: inherit;

  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;

  padding-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.btn-user-mail {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  width: 200px;
  height: 50px;
  background-color: var(--web-hover-color);

  padding: 0;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.icon-send-white {
  width: 24px;
  height: 24px;

  margin-left: 10px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--anime), visibility 250ms var(--anime);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms var(--anime);

  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-75%, -25%);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  background-color: transparent;

  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button:hover .icon-close {
  fill: var(--web-hover-color);
}

.icon-close {
  width: 18px;
  height: 18px;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 12px;
}
.modal-form-block {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  color: var(--descr-text);
  font-size: 12px;
}

/* .modal-form-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
} */

.icon-person-black {
  width: 18px;
  height: 18px;
}

.modal-button-submit {
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: var(--web-hover-color);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  margin: 0 auto;
}

.modal-button-submit:hover,
.modal-button-submit:focus {
  background-color: var(--bg-button);
}
