.address__list {
  list-style: none;
  line-height: 1.71;

  flex-direction: column;

  @media screen and (min-width: 1200px) {
    padding-left: 0;
    padding-right: 25px;
    margin: 0;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  color: var(--fotter-cont);

  display: block;
  text-align: center;

  transition: color 250ms var(--anime);

  &:hover,
  &:focus {
    color: var(--web-hover-color);

    transition: color 250ms var(--anime);
  }

  &--height {
    line-height: 1.71;
    color: var(--white);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.address-container {
  margin: 0 auto;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin: 0 70px 0 0;
  }
}
