.header-logo {
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.header-logo {
  color: var(--black);

  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 88px;

  @media screen and (min-width: 1200px) {
    font-size: 24px;
    font-weight: 400;

    margin-right: 93px;
  }
}

.footer-logo {
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.footer-logo {
  color: var(--white);
}

.web {
  color: var(--web-hover-color);
}
