.navigation-list__link {
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: var(--web-hover-color);

    transition: color 250ms var(--anime);
  }
}

.contacts-list__link {
  &:hover,
  &:focus {
    color: var(--web-hover-color);

    transition: color 250ms var(--anime);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation-list__link {
  color: var(--main-color);
  font-weight: 500;

  position: relative;

  transition: color 250ms var(--anime);

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--web-hover-color);
    border-radius: 2px;

    position: absolute;
    bottom: 0;

    opacity: 0;

    transition: opacity 250ms var(--anime);
  }
}

.navigation-list__link.current::after,
.navigation-list__link:hover::after,
.navigation-list__link:focus::after {
  opacity: 1;

  transition: opacity 250ms var(--anime);
}

.current {
  color: var(--web-hover-color);
}

.contacts-list__link {
  color: var(--text-nav-color);

  display: flex;
  align-items: center;

  transition: color 250ms var(--anime);
}

.navigation-list,
.contacts-list {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}
.contacts-list__item {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}
