:root {
  --main-color: #212121;
  --web-hover-color: rgb(33, 150, 243);
  --text-nav-color: #757575;
  --white: #ffffff;
  --black: rgb(0, 0, 0);
  --footer-bg: #2f303a;
  --descr-text: #757575;
  --team-bc: #f5f4fa;
  --fotter-cont: rgba(255, 255, 255, 0.6);
  --nav-border: rgb(236, 236, 236);
  --bg-button: #188ce8;
  --icon-color: #afb1b8;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --main-color-02: rgba(33, 33, 33, 0.2);
  --text-nav-color08: #75757580;
  --anime: cubic-bezier(0.4, 0, 0.2, 1);
}
