.main-section {
  background-color: var(--footer-bg);
  max-width: 480px;
  height: auto;

  margin: 0 auto;
  padding-bottom: 118px;
  padding-top: 118px;

  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/studio/team-bg.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/studio/team-bg@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;

    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/studio/team-bg.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/studio/team-bg@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-size: cover;

    padding-bottom: 200px;
    padding-top: 200px;

    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/studio/team-bg.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desktop/studio/team-bg@2x.jpg);
    }
  }
}

.main-section__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  margin: 0 auto 30px auto;
  width: 360px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;

    width: 696px;
  }
}
